body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container .years {
    margin-left: 5px; /* Espacio entre el campo y la palabra 'años' */
    font-size: 14px;
    color: #333; /* Ajusta el color según lo que prefieras */
}

.home-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #0077B6;
    text-decoration: none;
    margin-bottom: 20px;
}

.home-link i {
    font-size: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: #0077B6;
    margin: 0;
    margin-bottom: 20px;
    text-align: left; /* Alinea el título a la izquierda */
}

/* Contenedor de los formularios y etiquetas alineados correctamente */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between; /* Hace que los campos y las etiquetas estén en los extremos */
}

.form-group label {
    font-weight: 500;
    margin-right: 15px;
    text-align: left;
    width: 250px; /* Asegura que las etiquetas no sean demasiado grandes */
}

/* Ajuste para los campos de tipo 'number' (2 dígitos) */
.form-group input[type="number"] {
    width: 50px; /* Establece el ancho fijo de 2 dígitos */
    text-align: center; /* Centra el texto dentro del campo */
}

/* Ajuste de los combos (select) para que tengan el mismo tamaño que la palabra 'Seleccionar' */
.form-group select {
    width: 150px; /* Limita el ancho de los select para que no sean más grandes que 'Seleccionar' */
    text-align-last: center; /* Centra el texto en los combos */
}

/* Para pantallas pequeñas, se ajusta para que todo ocupe el 100% */
@media (max-width: 768px) {
    .input-container {
        width: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
        justify-content: space-between; /* Separa el campo y la palabra "años" */
    }

    .input-container input {
        width: calc(100% - 40px); /* Hace que el campo de texto ocupe el espacio restante */
    }

    .input-container .years {
        margin-left: 10px; /* Aumenta un poco el margen para no sobrecargar el espacio */
    }
}


/* Estilo para los botones */
button {
    width: 100%;
    padding: 12px;
    background-color: #0077B6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005f8d;
}

.hidden {
    display: none;
}
