body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el campo de entrada y "años" */
}

.input-container input {
    max-width: 50px; /* Asegura que el campo no se agrande más de 2 dígitos */
    text-align: center;
}

.input-container .years {
    font-size: 14px;
    color: #333;
}

.home-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #0077B6;
    text-decoration: none;
    margin-bottom: 20px;
}

.home-link i {
    font-size: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: #0077B6;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
}

/* Contenedor de los formularios y etiquetas alineados correctamente */
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Hace que los campos y las etiquetas estén en los extremos */
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    font-weight: 500;
    text-align: left;
    min-width: 250px; /* Asegura que las etiquetas no sean demasiado grandes */
}

/* Ajuste para los campos de tipo 'number' (2 dígitos) */
.form-group input[type="number"] {
    max-width: 50px; /* Asegura el tamaño de 2 dígitos sin expandirse */
    text-align: center;
}

/* Ajuste de los combos (select) para que tengan el mismo tamaño que la palabra 'Seleccionar' */
.form-group select {
    min-width: auto;
    max-width: 150px;
    text-align-last: center;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column; /* Para que en pantallas pequeñas se apilen */
        align-items: flex-start;
    }

    .input-container {
        justify-content: left; /* Asegura que el campo de edad y "años" no se desplacen */
    }

    .input-container input {
        max-width: 50px;
    }
}

/* Estilo para los botones */
button {
    width: 100%;
    padding: 12px;
    background-color: #0077B6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005f8d;
}

.hidden {
    display: none;
}
